* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.external {
    border: 1px solid white;
    color: orange;
    background-color: blueviolet;
}

.margin-box {
    width: 500px;
    height: 400px;
    background-color: purple;
    border: 1px solid yellow;
    margin: 20px auto;
    padding: 30px;
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-box, .padding-box, .content-box {
    display: flex;
    flex-direction: column; /* รียงไว้ด้านบน */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* margin-bottom: 20px; */
    position: relative;
}

span {
    color: white;
    position: absolute;
    top: 5px;
    z-index: 10;

}



.border-box {
    background-color: orange;
    border: 1px solid yellow;
    padding: 30px;
}

.padding-box {
    background-color: purple;
    border: 1px solid yellow;
    padding: 30px;
}

.content-box {
    background-color: white;
    border: 1px solid yellow;
    padding: 30px;
    
}

article p:first-of-type {
    color: red; /* declaration */
    /* property  */ /* value */
    font-size: 1.5em;
}

button {
    color: blue;
    background-color: lightsalmon;
}

.my-element {
    color: red;
}

/* ตรงนี้จะไม่แสดงผล เพราะ ข้างบนมีน้ำหนักมากกว่า*/
h1 {
    color: blue;
}

/* การจัดระเบียบ CSS */
.my-button {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    background: pink;
    font: inherit;
    text-align: center;
}

.named-colors {
    color: red;
}

.numeric-colors {
    color: #ff0000;
}

.rgba-colors {
    color: rgba(255, 0, 0, 1);
}

.size-box {
    margin: 20px auto;
    text-align: center;
}
.size-100px {
    width: 100px;
    height: 100px;
    background-color: lightblue;
}

